

	<!-- Content page-->
	
	

{% extends 'core/base.html' %}



{% block title %}Contacto{% endblock %}
{%block content%}
		<div class="table-responsive">
			<table class="table table-hover text-center">
				<thead>
					<tr class="table-primary">
						<th class="text-center">#</th>
						<th class="text-center">Student</th>
						<th class="text-center">Amount</th>
						<th class="text-center">Subscription</th>
						<th class="text-center">Pending</th>
						<th class="text-center">Date</th>
						<th class="text-center">Period</th>
						<th class="text-center">Update</th>
						<th class="text-center">Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>Carlos Alfaro</td>
						<td>$40</td>
						<td>$40</td>
						<td>$0</td>
						<td>01/01/2017</td>
						<td>Period 1</td>
						<td><a href="#!" class="btn btn-success btn-raised btn-xs"><i class="zmdi zmdi-refresh"></i></a></td>
						<td><a href="#!" class="btn btn-danger btn-raised btn-xs"><i class="zmdi zmdi-delete"></i></a></td>
					</tr>
					<tr>
						<td>2</td>
						<td>Claudia Rodriguez</td>
						<td>$40</td>
						<td>$40</td>
						<td>$0</td>
						<td>01/01/2017</td>
						<td>Period 1</td>
						<td><a href="#!" class="btn btn-success btn-raised btn-xs"><i class="zmdi zmdi-refresh"></i></a></td>
						<td><a href="#!" class="btn btn-danger btn-raised btn-xs"><i class="zmdi zmdi-delete"></i></a></td>
					</tr>
					<tr>
						<td>1</td>
						<td>Alicia Melendez</td>
						<td>$40</td>
						<td>$40</td>
						<td>$0</td>
						<td>01/01/2017</td>
						<td>Period 1</td>
						<td><a href="#!" class="btn btn-success btn-raised btn-xs"><i class="zmdi zmdi-refresh"></i></a></td>
						<td><a href="#!" class="btn btn-danger btn-raised btn-xs"><i class="zmdi zmdi-delete"></i></a></td>
					</tr>
					<tr>
						<td>1</td>
						<td>Sarai Mercado</td>
						<td>$40</td>
						<td>$40</td>
						<td>$0</td>
						<td>01/01/2017</td>
						<td>Period 1</td>
						<td><a href="#!" class="btn btn-success btn-raised btn-xs"><i class="zmdi zmdi-refresh"></i></a></td>
						<td><a href="#!" class="btn btn-danger btn-raised btn-xs"><i class="zmdi zmdi-delete"></i></a></td>
					</tr>
				</tbody>
			</table>
			<ul class="pagination pagination-sm">
				  <li class="disabled"><a href="#!">«</a></li>
				  <li class="active"><a href="#!">1</a></li>
				  <li><a href="#!">2</a></li>
				  <li><a href="#!">3</a></li>
				  <li><a href="#!">4</a></li>
				  <li><a href="#!">5</a></li>
				  <li><a href="#!">»</a></li>
			</ul>
		</div>
{%endblock%}