{% extends 'core/base.html' %}

{% block title %}Pagos{% endblock %}
{%block content%}
<section>
	<!-- Content page -->
	<div class="container-fluid">
		<div class="page-header">
		  <h1 class="text-titles"><i class="zmdi zmdi-money zmdi-hc-fw"></i> Pagos</small></h1>
		</div>
		<p class="lead">En esta sección se registran los pagos</p>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<ul class="nav nav-tabs" style="margin-bottom: 15px;">
					  <li class="active"><a href="#new" data-toggle="tab">Registrar pago</a></li>
					  <li><a href="#list" data-toggle="tab">Lista de los ultimos pagos realizados</a></li>
				</ul>
				<div id="myTabContent" class="tab-content">
					<div class="tab-pane fade active in" id="new">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-12 col-md-10 col-md-offset-1">
									<form action="{%url 'create-payments'%}" method="POST">
											{% csrf_token %}
											<div class="form-group">
												<label class="control-label">Nombre del alumno</label>	
												<select class="form-control" name="nombre" id="name">
													<option value="0">Busque su nombre o matricula...</option>
												{%for student in students%}
												  <option value="{{student.id_alumno}}">{{student.name}} {{student.lastname}} | Matricula: {{student.id_alumno}}</option>
												{%endfor%}
												</select>	
											</div>
											<div class="form-group">
												<label class="control-label">Tipo de pago</label>
												<select class="form-control" name="tipo" id="tipo">
													<option value="0">Seleccione el tipo de pago...</option>
												{%for detail in details%}
												  <option value="{{detail.id}}">{{detail.tipe_pay}}</option>
												{%endfor%}
												</select>
												
											</div>
											<div class="form-group">
												<button>
												<label for="ejemplo_archivo_1">Subir comprobante de pago</label>
												<input type="file" id="ejemplo_archivo_1">
												<p class="help-block">Ejemplo de texto de ayuda.</p>
												</button>
											  </div>
											  
										<p class="text-center">
											<input type="submit" class="btn btn-info btn-raised btn-sm"/>
										</p>
									</form>
								</div>
							</div>
						</div>
					</div>
					  <div class="tab-pane fade" id="list">
						<div class="table-responsive">
							<table class="table table-hover text-center">
							
								<thead>
									
									<tr class="table-primary">
										<th class="text-center">Matricula</th>
										<th class="text-center">Nombre</th>
										<th class="text-center">Apellido</th>
										<th class="text-center">Tipo de pago</th>
										<th class="text-center">Cantidad</th>
										<th class="text-center">Fecha</th>
										<th class="text-center">Editar</th>
										<th class="text-center">Eliminar</th>
									</tr>
								</thead>
								<tbody>
									{%for payment in payments%}
									<tr>
										<td>{{payment.id}}</td>
										<td>{{payment.student.name}}</td>
										<td>{{payment.student.lastname}}</td>
										<td>{{payment.details.tipe_pay}}</td>
										<td>{{payment.details.amount}} $</td>
										<td>{{payment.created}}</td>
										<td><a href="#!" class="btn btn-success btn-raised btn-xs"><i class="zmdi zmdi-refresh"></i></a></td>
										<td><a href="#!" class="btn btn-danger btn-raised btn-xs"><i class="zmdi zmdi-delete"></i></a></td>
									</tr>
									{%endfor%}
							</ul>
						</div>
					  </div>
				</div>
			</div>
		</div>
	</div>
</section>
{%block script%}
<script>
	$(document).ready(function() {
    $('#name').select2();
	$('#tipo').select2();
});</script>
{%endblock%}

{%endblock%}
	

	
	
